@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.Carousel
{
    width: 100%;
    position: relative;
}

@media (min-width: 850px) {
    .Carousel > .Card > .Text
    {
        margin-left: 1%;
        width: 60%;

    }
    .Carousel > .Card > .ImageDiv
    {
        max-width: 40%;
    }
}

.Carousel > .Card > .Text > h3
{
    text-align: justify;
}

.Carousel > .Name
{
    margin-bottom: 3vh;
}

.Carousel > .Name > h1{
    font-size: 2.5em;
    display: inline;
}

.Carousel > .Name > h1:hover
{
    cursor: pointer;
}

.Card {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    padding: 15px;
    color: black;
    border-radius: 50px;
    position: relative;
}
.Carousel > .Card > .ImageDiv
{
    height:auto;
    max-width: 40%;
    background-color: #164987;
    margin-bottom: auto;
    margin-top: auto;
    padding: 1vh;
}

.ImageDiv > img
{
    max-width: 100%;
    height: auto;
}

.Card > .Text > h1
{
    color: #164987;
    font-size: 2.5em;
    font-weight: bolder;
}

.Card > .Text > h3
{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-left: 1vw;
}

@media (max-width: 850px) {
    .Card
    {
        flex-flow: column;
        width: 80%;
    }
    .Card > .ImageDiv
    {
        margin: 0;
        max-width: 100%;
    }
    .Card > .Text
    {
        margin-left: 1%;
    }
    .Carousel > .Card > .ImageDiv
    {
        max-width: 100%;
    }
}



h3 > a
{
    color: black
}

.NN
{
    background-color: #fcfcfc;
}
