@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');


.Content
{
    margin: 0;
    background-color: #72a7fc;
}

.Section
{
    margin: 0;
    background-color:white;
    padding-top: 5vh;
    min-height: 66.7vh;
    display: flex;
}

.Content > .Section > .Page
{
    position: relative;
    margin-left: 30%;
    width: 40%;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: justify;
}


.Page > .Text > h1{
    font-size: 3.5em;
    width: 40vw;
    background-color: #164987;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10vh;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}
.Page > .Text > .TextWrapper> h3
{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-left: 1vw;
}

.Projects
{
    width: 100%;
    padding-top: 10vh;
    min-height: 90vh;
    position: relative;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    background-color: #fcfcfc;
    margin: 0;
    padding-bottom: 5vh;
}

.Projects > h1
{
    font-size: 3.5em;
    width: 40vw;
    background-color: #164987;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10vh;
    padding: 10px;
    border: 1px solid gray
}

.Skills
{
    width: 100%;
    padding-top: 10vh;
    min-height: 80vh;
    position: relative;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    margin: 0;
    padding-bottom: 5vh;
}

.Skills > h1
{
    font-size: 3.5em;
    width: 40vw;
    background-color: white;
    color: #72a7fc;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border: 1px solid gray;
}
.ProfileImage
{
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    width: 15vw;
    margin-right: 2vw;
    border-radius: 50%;
}

.Page > .TextWrapper > .ImageWrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1300px) {
    .Content > .Section > .Page
    {
        width: 80%;
        margin-left: 10%;
        text-align: justify;
    }
    .ProfileImage
    {
        width: 25vw
    }
}

@media (max-width: 650px) {
    .TextWrapper
    {
        flex-flow: column;
    }
    .ImageWrapper
    {
        display: flex;
        justify-content: center;
    }
    .ProfileImage
    {
        width: 50vw
    }
}


.MainDashBoard
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70vh;
    
}

.SkillDashboard
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    min-height: 20vh;
}

.Page > h1
{
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
}

.TextWrapper
{
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width: 650px) {
    .Page > .Text > h1 
    {
        width: 70vw;
    }
    .Projects > h1 
    {
        width: 70vw;
    }
    .Skills > h1 
    {
        width: 70vw;
    }
}
